@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.section-main{
    margin-top: 80px;
    padding: 0 100px;
}


.btn{
    background-color:#013dc4 ;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;    
}
.btn:hover{
    background-color: #3b7257; 
}
/* navbar  */
.navbar{
    box-shadow: 20px 20px 30px 30px rgba(0, 0, 0, 0.06);
}
.nav{
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.item{
    display: flex;
}
.item li{
    margin-top: 5px;
    padding: 0 15px;
    list-style: none;
}
.item li a{
    font-weight: 500;
    font-size: 21px;
    text-decoration: none;
    color:#FFE8F5;
}
.item li a:hover{
    color: blue;
    transition: 0.6s;
}

/* featues  */

.features{
    
    margin-top: 45px;
}
.main{
    margin: 30px;
    display: flex;
    justify-content: space-between;
}
.main .fea{
    
}
.features h2{
    text-align: center;
    font-size: 40px;
}



/* cources  */

#cources h2{
    text-align: center;
    font: 35px;
    margin-bottom: 40px;
}
.cource{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
.cource:hover{
    
}
.cource .detail{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 20px 30px 30px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}


#news{
    padding: 50px ;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.form input{
    padding: 2px;
    outline: none;
    border: 1px solid rgba(05, 05, 05, 0.06);
}